APP_NAME=Laravel_user_api
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_USER=null
MAIL_PREFIX_SUBJECT=[パソコン決裁Cloud]

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

AES256_PASS=

APP_SERVER_ENV=
APP_EDITION_FLV=
CIRCULAR_APPROVAL_URL=http://127.0.0.1/site/approval/
STAMP_API_BASE_URL="http://52.69.60.101"

OLD_APP_URL=https://estamp.dstmp.com/app
NEW_APP_URL=http://127.0.0.1:8000

ID_APP_API_HOST="http://192.168.56.103:8200"
ID_APP_API_BASE_URL="api/v1"
ID_APP_API_CLIENT_ID="1"
ID_APP_API_CLIENT_SECRET="GdsoTO5RmmopURzVdyVTG3jqMc9dxC1lf2h9txbm"

PAC_AWS_API_HOST="http://192.168.77.101:8100"
PAC_AWS_API_BASE_URL="api/v1"
PAC_AWS_API_CLIENT_ID="1"
PAC_AWS_API_CLIENT_SECRET="CIAtlsBGvrXvIeWU63pzEaOd9kNu1EXl9V823COg"

PAC_K5_API_HOST="http://192.168.77.101:8100"
PAC_K5_API_BASE_URL="api/v1"
PAC_K5_API_CLIENT_ID="1"
PAC_K5_API_CLIENT_SECRET="CIAtlsBGvrXvIeWU63pzEaOd9kNu1EXl9V823COg"

ENABLE_LOG_OPERATION=true

CURRENT_AWS_API_HOST="http://192.168.77.101:8100"
CURRENT_AWS_API_BASE_URL="api/v1"
CURRENT_AWS_API_CLIENT_ID="NewEditionCirculation"
CURRENT_AWS_API_CLIENT_SECRET="apPp8gaIJ8VMXvAmcopiKNmkvc7GR7"

CURRENT_K5_API_HOST="http://192.168.77.101:8100"
CURRENT_K5_API_BASE_URL="api/v1"
CURRENT_K5_API_CLIENT_ID="NewEditionCirculation"
CURRENT_K5_API_CLIENT_SECRET="apPp8gaIJ8VMXvAmcopiKNmkvc7GR7"

#統合SFTP情報
INTEGRATION_SFTP_HOST=18.181.154.198
INTEGRATION_SFTP_USERNAME=idmanagement
INTEGRATION_SFTP_PASSWORD=1HWaWZny
INTEGRATION_SFTP_CREATECSV_PATH=download
CREATE_USERS_CSV_PATH=csv/create_users_csv/

MAIL_ENVIRONMENT_PREFIX=

PAC_APP_AWS_ENV_URL=
PAC_APP_K5_ENV_URL=

FCM_SERVER_KEY=AAAAtzmiB78:APA91bF4JM69scNlLzgCdqk_fu8lk6tyYhebma7G77VzF7LEWowj6sZoYeijIjUHbfxnmcTofg9sHNOqWNoV6miva3WaUcPhxlDE5npilQ5-IVFV-UqptPb1-7Z7-DLAh5Gcp9UuxJgO
FCM_SENDER_ID=786945935295

STAMP_API_HOST="https://192.168.61.7:8443/"
STAMP_API_BASE="/api/"

ADD_TIMESTAMP_START_TIME_DEFAUT = "0 2 * * *"
ADD_TIMESTAMP_END_TIME_DEFAUT = "05:00"
STORAGE_FORM_TEMPLATE_FOLDER = form_template
STORAGE_FORM_TEMPLATE_FOLDER_TYPE = template
STORAGE_FORM_IMPORT_FOLDER_TYPE = imp
WORK_START_TIME_DEFAULT = "09:00"
WORK_START_END_DEFAULT = "18:00"
OVERTIME_UNIT_DEFAULT = 15
BREAK_TIME_DEFAULT = 60
STORAGE_FORM_TEMPLATE_FOLDER = form_template
STORAGE_FORM_TEMPLATE_FOLDER_TYPE = template
STORAGE_EXP_TEMPLATE_FOLDER_TYPE = exp
STORAGE_FORM_CSV_IMPORT_FOLDER = csv_import
STORAGE_TEMPLATE_FILE_NAME_PREFIX = form_template_
STORAGE_EXP_TEMPLATE_FILE_NAME_PREFIX = form_exp_template_
STORAGE_IMPORT_FILE_NAME_PREFIX = form_imp_

OFFICE_CONVERT_API_HOST=
OFFICE_CONVERT_API_BASE=/
